spring:
  application:
    name: lockIn-backend
  profiles:
    active: dev

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

cookie:
  expiration: ${COOKIE_EXPIRATION}
